table {
    border-collapse: collapse;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 5px 0px 40px 50px;
}

thead {
    background-color: #fff;
}

thead th, tbody td {
    border: 1px solid rgb(240, 240, 240);
    padding: 15px 10px;
    text-align: left;
}

tbody tr:nth-child(even) {
    background-color: #f8f9ff;
}

tbody tr:nth-child(odd) {
    background-image: #fff;
}