table {
    border-collapse: collapse;
    border: 2px solid rgb(240, 240, 240);
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 60px 0px 40px 0px;
}

thead {
    background-color: #fff;
}

th,
td {
    border: 1px solid rgb(240, 240, 240);
    padding: 15px 10px;
}