.markup-for-assigner {
    align-items: center;
    margin: 20px 10px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.task-assigner {
    margin: 10px 25px;
    width: 100px;
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    font-size: 15.8px;
    color: rgb(103, 103, 111);
}

.select-wrapper {
    display: flex;
    min-width: 0;
}