.background-modal {
    position: fixed;
    padding: 0;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #ffffff;
    transition: transform .5s ease;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    z-index: 60;
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    font-size: 13px;
}

.background-modal-open {
    transform: translateX(0%);
}