.drawer-filter {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    background: #ffffff;
    transition: transform .5s ease;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    z-index: 60;
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    font-size: 13px;
}

.drawer-filter-open {
    transform: translateX(0%);
}

.drawer-filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 18px;
    border-bottom: 1px solid #eee;
    padding: 5px;
    margin: 0px 5px 0px 15px;
}

h2 {
    font-size: 20px;
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    margin: 10px;
}

.close-filter-cross {
    background: #ffffff;
    padding: 0;
    margin: 0;
    border: none;
    fill: #2c3979;
    cursor: pointer;
}

.drawer-backdrop-filter {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.35);
    z-index: 60;
    transition: opacity 0.3s ease;
}

.drawer-backdrop-filter-hidden {
    opacity: 0;
    pointer-events: none;
}

.tasks-filter {
    width: 100px;
    height: 37px;
    color: #2c3979;
    background-color: #f8f9ff;
    border-radius: 5px;
    border-style: none;
    margin: 9px 10px 10px 20px;
    margin-left: auto;
    font-size: 16px;
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    font-weight:lighter;
    cursor: pointer;
}

.down-line {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #f8f9ff;
    margin: 840px 0px;
    width: 475px;
}

.drawer-filter-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: start;
}

.apply-filter {
    width: 100px;
    height: 37px;
    color: #ffffff;
    background-color: #2c3979;
    border-radius: 5px; 
    margin: 15px 10px 10px 20px;
    margin-left: auto;
    font-size: 16px;
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    cursor: pointer;
    justify-content: start;
    border: none;
}

.reset-filtered {
    width: 110px;
    height: 37px;
    color: #ffffff;
    background-color: #f8f9ff;
    border-radius: 5px; 
    margin: 15px 230px 10px 20px;
    margin-left: auto;
    font-size: 16px;
    color: #2c3979;
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border: none;
    display: flex;
    flex-direction: row;
    font-weight: 600;
}

.button-close-cross {
    background-color: #f8f9ff;
    margin: 2px 2px 0px 0px;
    color: #2c3979;
}