.table-wrapper {
    overflow-x: hidden;
    margin: 5px 0px 20px 45px;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
}

.table-fixed {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background-color: #fff;
}

thead th, 
tbody td {
    border: 1px solid rgb(240, 240, 240);
    padding: 15px 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tbody td:nth-child(4),
tbody td:nth-child(6) {
    white-space: normal;
    word-break: break-word;
}

tbody tr:nth-child(even) {
    background-color: #f8f9ff;
}

tbody tr:nth-child(odd) {
    background-image: #fff;
}

