.add-task {
    width: 185px;
    height: 37px;
    color: rgb(255, 255, 255);
    background-color: #2c3979;
    border-radius: 5px;
    margin: 9px 10px 10px 20px;
    margin-left: auto;
    font-size: 16px;
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    
}