.find-field {
    height: 37px;
    width: 380px;
    flex: 1;
    box-sizing: border-box;
    padding: 0px;
    font-size: 16px;
    display: inline-block;
    margin: 12px;
    border-radius: 4px;
    border: 1px solid rgb(233, 232, 232);
    padding: 3px 15px;
}

.find-button {
    height: 37px;
    width: 55px;
    margin: 12px;
    font-size: 16px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(233, 232, 232);
    padding: 3px 12px;
    cursor: pointer;
}

.find-icon {
    height: 37px;
    width: 55px;
}

form {
    display: flex;
}