.top-panel {
    height: 50px;
    background-color: #fff;
    border: 2px solid rgb(240, 240, 240);
    box-shadow: 20px 10px 10px #f5f5f5;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 10px;
}