.top-panel {
    height: 50px;
    width: 1845px;
    background-color: #fff;
    border: 2px solid rgb(240, 240, 240);
    box-shadow: 20px 10px 10px #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 10px;
    gap: 20px;
    
}

.top-panel-left {
    display: flex;
    align-items: center;
}

.top-panel-right {
    display: flex;
    align-items: center;
}

.top-panel .task-title {
    font-weight: 600;
    font-size: 17px;
}