.left-panel {
    background-color: #2c3979;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    border: 5px solid #252f66;
    padding: 0px;
    width: 40px;
    justify-content: end;
}