.table-controls {
    height: 37px;
    width: 158px;
    flex: 1;
    box-sizing: border-box;
    font-size: 14px;
    margin: 9px 15px 0px 10px;
    border-radius: 4px;
    border: 1px solid rgb(233, 232, 232);
    padding: 3px 15px;
    display: flex;
    float: right;
}