.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.modal {
  background: white;
  padding: 15px;
  border-radius: 8px;
  width: 350px;
  height: 270px;
  font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.register-form {
    flex-direction: column;
    display: flex;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

.reg-title {
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    font-size: 22px;
    margin: 5px auto;
}

.get-register {
    margin: 10px auto 10px;
    color: rgb(255, 255, 255);
    background-color: #2c3979;
    width: 185px;
    height: 38px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    cursor: pointer;
    gap: 10px;
}

.close {
    margin: 0px auto 0px ;
    color: rgb(255, 255, 255);
    background-color: #2c3979;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    cursor: pointer;
}
