.add-task {
    width: 180px;
    height: 37px;
    color: rgb(255, 255, 255);
    background-color: #2c3979;
    border-radius: 5px;
    margin: 10px 10px 10px 180px;
    margin-left: auto;
    font-size: 16px;
}