.login-page-body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.backgorund-login-page {
    display: flex;
    flex-direction: column;
}

.login-page {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 400px;
    margin: 0px;
    justify-content: center;
    align-items: center;
}

h2 {
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    font-size: 28px;
}

.login-form {
    display: flex;
    border-radius: 4px;
    border: 1px solid rgb(233, 232, 232);
    padding: 6px 12px;  
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    flex-direction: column;
    width: 380px;
    height: 180px;
    padding: 10px;
    background-color: #eff2ff;
}

.login-text {
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    height: 37px;
    box-sizing: border-box;
    padding: 0px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid rgb(233, 232, 232);
    padding: 6px 12px;  
    margin: 12px;
}

input[type="password"] {
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    height: 37px;
    box-sizing: border-box;
    padding: 0px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid rgb(233, 232, 232);
    padding: 6px 12px;    
    margin: 12px;
}

.auth-button {
    width: 185px;
    height: 37px;
    color: rgb(255, 255, 255);
    background-color: #2c3979;
    border-radius: 5px;
    margin: 12px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    cursor: pointer;
}

.register-button {
    margin: 10px 0px 10px 217px;
    color: rgb(255, 255, 255);
    background-color: #2c3979;
    width: 185px;
    height: 25px;
    border-radius: 5px;
    font-size: 14px;
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    cursor: pointer;
}