.app {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    gap: 0px;
}

form {
    margin: 0;
    padding: 0;
}

form button {
    display: block;
    margin-top: 0px;
}

.drawer-conteiner {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-fields {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.save-new-task {
    width: 90px;
    height: 37px;
    color: rgb(255, 255, 255);
    background-color: #2c3979;
    border-radius: 5px; 
    margin: 9px 10px 10px 20px;
    margin-left: auto;
    font-size: 16px;
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    cursor: pointer;
}

