.title-body-field {
    color: rgb(103, 103, 111);
    font-size: 15.8px;
    font-weight: 500;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
    margin-bottom: 14px;
    margin: 10px 20px 10px 10px;
}

.task-body-label {
    margin: 10px 10px;
    width: 80px;
    justify-content: end ;
}

.body-field {
    font-family: Roboto, PT Sans, helvetica, arial, sans-serif;
    height: 200px;
    width: 770px;
    box-sizing: border-box;
    font-size: 14px;
    display: inline-block;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid rgb(233, 232, 232);
    padding: 6px 12px;   
}

.error {
    border: 2px solid rgb(230, 104, 104);
}